.navbar {
    background-color: gray;
    border-bottom: 1px solid black;
    box-shadow: 0 5px 20px 0 black
}



/* ito yung css para lagyan shadow ng name ng website yung nasa Navigator */
.navbar-brand {
    color: black;
    text-shadow: 5px 5px 10px black;

}

.navbar-brand:hover {
    color: black;
    text-shadow: 1px 1px 10px black;
}

/* ito yung makikita mo sa navigator yung mga 'Home Link Dropdown at disabled' */
.nav-link {
    color: black;
}

.nav-link:hover {
    color: black;
    text-shadow: 5px 5px 10px black;
}

.nav-link:after {
    color: black;
    text-shadow: 5px 5px 10px black;
}

.navbar-toggler {
    border: 1px solid black;
}

body {
    background-color: #ffffff;
    height: auto;

}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: .5rem;
    margin-left: .5rem;
    background-color: black;
    padding: 10px;
    width: 100%
    height: 100%;
}

.card-body {
    background-color: black;
    color: grey;
}

.card:hover {
    box-shadow: 0 5px 20px 0 black;

}

.card-body:hover {
    color: white;
}

.instruments_container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 10px;
    height: auto;
    padding: 5%;
}
@media only screen and (max-width: 600px) {
    .card{
        height: auto;
        width: auto;
    }
  }

